
/*GENERALI */   

	* {
        box-sizing:border-box;
        margin:0px;
        padding:0px;
    }

   body { 
        width: 60%;
        margin: 15px auto;
    }

    .clearfix:after {
        content: "";
        clear: both;
        display: table;
    }

/* FINE GENERALI */   
/* CARD */

    .card { 
        margin-top: 2%;
        margin-left:1%;
        margin-right: 1%;
        position: relative;
        display: inline-block;
        float: left;
    }

    .card .img-top {
        display: none;
        position: absolute;
        width: 100%;
        height: 450px;
        top: 0;
        left: 0;
    }
    .card:hover .img-top {
        display: inline;
    }

    .img { 
        width: 100%;
        height: 450px;
     }

     .heart { 
        top: 15px;
        right: 0px;
        width:30px ;
        height: 30px;
        font-size: 25px;
        text-align: center;
        position: absolute;
        color: rgb(0, 0, 0);
        background-color: white;
        z-index: 3;
     }

     .card:hover .heart { 
        color: red;
     }

     .labelpos1 { 
        bottom:100px;
        left: 0px;
    }

    .labelpos2 { 
        bottom:100px;
        left: 40px;
    }


    .labelsale { 
        position: absolute;
        text-align: center;
        padding: 4px;
        background-color: rgb(160, 35, 35);
        color: white;
    }

    .labeleco { 
        position:absolute;
        text-align: center;
        padding: 4px;
        background-color: rgb(72, 155, 58);
        color: white;
    }

    .textblock { 
        position: relative;
        left: 0px;
        font-family: 'Nunito', sans-serif;
     }

    .brand { 
        font-weight: bold;
        font-size: 13px;
        color: grey;
    }

    .dressname { 

        font-weight: bold;
        font-size: 16px;
        color: black;
    }
 
    .price {
        color: red;
        display: inline-block;
        font-weight: bold;
        font-size:12px;
    }

    .sale {
        text-decoration: grey line-through;
        display: inline-block;
        font-weight: bold;
        font-size:12px;
    }
    
    .price:after {
        content: '€';
    }

    .sale:after {
        content: '€';
    }

/* FINE CARD */
/* BONUS */

.card1bonus:hover .img1 {

    
}








